<!doctype html>
<html>
<head>
        <meta charset='utf-8'/> 
        <!-- Use the .htaccess and remove these lines to avoid edge case issues.
        More info: h5bp.com/b/378 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>@Page.Title</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>

  @* More info about SquishIt from http://www.codethinked.com/squishit-the-friendly-aspnet-javascript-and-css-squisher *@
  @Html.Raw(SquishIt.Framework.Bundle.Css()
                                                 .Add("~/Content/themes/base/jquery.ui.all.css")
                                                 .Add("~/Content/MvcWithStyle/normalize.css")
                                                 .Add("~/Content/MvcWithStyle/grids.css")
                                                 .Add("~/Content/mvcwithstyle.less")
                                                 //.ForceRelease() // Test it out with minification
                                                 .Render("~/Content/style_#.css"))

  <![if !IE]>
  @Html.Raw(SquishIt.Framework.Bundle.Css()
                                                 .Add("~/Content/MvcWithStyle/mediaqueries.css")
                                                 //.ForceRelease() // Test it out with minification
                                                 .Render("~/Content/mediaqueries_#.css"))
  <![endif]> 
  
  @Html.Raw(SquishIt.Framework.Bundle.JavaScript()
                                                    .Add("~/Scripts/jquery-1.7.1.js")
                                                    .Add("~/Scripts/modernizr-2.0.6.min.js")
                                                    .Add("~/Scripts/polyfill.js")
                                                    .Add("~/Scripts/less-1.1.5.min.js")
                                                    .Add("~/Scripts/jquery.unobtrusive-ajax.js")
                                                    .Add("~/Scripts/jquery.validate.js")
                                                    .Add("~/Scripts/jquery.validate.unobtrusive.js")
                                                    .Add("~/Scripts/AjaxLogin.js")
                                                    .Add("~/Scripts/plugins.js")
                                                   //.ForceRelease() // Test it out with minification
                                                   .Render("~/Scripts/combined_#.js"))
  

@RenderSection("HeadContent", false)
</head>

    <body>
    @Html.Raw(this.Html.Flash())
    <div id="flash-container">
    </div>
        <div id="container">
            <header role="banner">
                <section>
                    <a href="/">
                        <hgroup>
                            <img src="@Url.Content("~/Content/MvcWithStyle/images/mvcwithstyle.png")"/>
                            <h1>MVC With Style</h1>
                            <h2>Assisting Design Challenged Developers Blunder into Awesomeness</h2>
                        </hgroup>
                    </a> 
                    <div id="logindisplay">
                        @Html.Partial("_LogOnPartialWithStyle")
                    </div>
                </section>
            </header>

            <nav role="navigation">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("MVC with Style Example", "Index", "Example")</li>
                    <li>@Html.ActionLink("Grid Example", "Grid", "Example")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>

            <div id="main" role="main">
                @RenderBody()
            </div>
            <footer role="contentinfo">
                <section>
                    <section id="contactinfo" class="vcard">
                        <div class="contactdetails">
                            <div class="org">MVC With Style</div>
                            <div class="tel">(434) 000-0000</div>
                            <div class="email"><a href="mailto:email@user.com">email@user.com</a></div>
                        </div>
                
                        <div class="adr">
                            <div class="street-address">Everywhere St.</div>
                            <div class="extended-address">Suite 1</div>
                            <span class="locality">Somewhere</span>,
                            <span class="region">VA</span>
                            <span class="postal-code">20000</span>
                        </div>
                    </section>
                    <section id="socialmedia">
                        <a href="http://www.facebook.com" class="facebook">Facebook</a>
                        <a href="http://www.twitter.com" class="twitter">Twitter</a>
                        <a href="/" class="rss">RSS</a>
                    </section>
                </section>
            </footer>
        </div>
        <script>
            $('#menu li a').each(function () {
                if ($(this).attr('href') == '@(Request.Url.LocalPath)') {
                    $(this).parent('li').addClass('active');
                }
            });
        </script>
	
        <!-- Change UA-XXXXX-X to be your site's ID -->
        <script>
            window._gaq = [['_setAccount', 'UAXXXXXXXX1'], ['_trackPageview'], ['_trackPageLoadTime']];
            Modernizr.load({
                load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
            });
        </script>

        <!--[if lt IE 7 ]>
            <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
            <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->
    </body>
</html>